<!DOCTYPE html>
<html>
  <head>
    <title>ContactApp</title>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="app/assets/images/icons/favicon.ico"/>

    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="container-contact100">
      <%= yield %>
    </div>
  </body>
</html>
